<footer class="footer mt-auto py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>About CritiQuill</h5>
                <p>CritiQuill is a platform where every film-lover is appretiated and can write a review about any film.</p>
            </div>
            <div class="col-md-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url "review:index" %}">Home</a></li>
                    <li><a href="#">🛈 About Us</a></li>
                    <li><a href="#">✉️ Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Follow us</h5>
                <ul class="list-unstyled">
                    <li><a href="#">ⓕ Facebook</a></li>
                    <li><a href="#">𝕏 Twitter</a></li>
                    <li><a href="#">📸 Instagram</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="text-muted">&copy; 2024 CritiQuill. All rights reserved.</p>
    </div>
</footer>
