<footer class="footer mt-auto py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>About CritiQuill</h5>
                <p>CritiQuill is a platform where every film-lover is appreciated and can write a review about any film.</p>
            </div>
            <div class="col-md-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url "review:index" %}" class="text-light">Home</a></li>
                    <li><a href="#" class="text-light">🛈 About Us</a></li>
                    <li><a href="#" class="text-light">✉️ Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Follow us</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light">ⓕ Facebook</a></li>
                    <li><a href="#" class="text-light">𝕏 Twitter</a></li>
                    <li><a href="#" class="text-light">📸 Instagram</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr class="bg-light">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-muted">&copy; 2024 CritiQuill. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
