{% extends "base.html" %}
{% block content %}
  <h1>Genres List</h1>
  {% if genres_list %}
    <table style="border-collapse: collapse; width: 100%;">
      <thead>
        <tr>
          <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Genre</th>
        </tr>
      </thead>
      <tbody>
        {% for genre in genres_list %}
          <tr>
            <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">{{ genre.name }}</td>
          </tr>
        {% empty %}
          <tr>
            <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">There is no genre with chosen name</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no genres.</p>
  {% endif %}
{% endblock %}
