{% extends "base.html" %}
{% block sidebar %}
    {% include "includes/sidebar.html" %}
{% endblock %}

{% block content %}
  <h1>Movie Review Platform</h1>
  <p>Welcome to Movie Review Platform</p>
  <h2>Dynamic content</h2>
  <p>The Movie Review Platform has the following record counts:</p>
  <ul>
    <li><strong>Movies:</strong> {{ num_movies }}</li>
    <li><strong>Reviews:</strong> {{ num_reviews}}</li>
    <li><strong>Genres:</strong> {{ num_genres }}</li>
  </ul>  

  <p>You have visited this page
      {{ num_visits }} time{{ num_visits|pluralize }}.
  </p>

{% endblock %}
