{% extends "base.html" %}

{% block content %}
<div class="text-right mb-3">
  {% if not existing_movie %}
    <a href="{% url 'review:movie-create' %}" class="btn btn-primary">Add New Movie</a>
  {% endif %}
</div>

<div class="movies-container">
  <h1>Movies List</h1>
  {% if movies_list %}
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Release Year</th>
          <th>Genres</th>
        </tr>
      </thead>
      <tbody>
        {% for movie in movies_list %}
          <tr>
            <td><a href="{{ movie.get_absolute_url }}" class="movie-link">{{ movie.title }}</a></td>
            <td>{{ movie.release_year }}</td>
            <td>
              {% if movie.genre.all %}
                {{ movie.genre.all|join:', ' }}
              {% else %}
                No genres listed
              {% endif %}
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3">There are no movies.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no movies.</p>
  {% endif %}
</div>
{% endblock %}
