{% extends "base.html" %}

{% block content %}
  <div class="text-right mb-3">
  {% if not existing_review %}
    <a href="{% url 'review:create-review' %}" class="btn btn-primary">Write Review</a>
  {% endif %}
</div>
<div class="reviews-list">
  <h1>Reviews List</h1>
  {% if reviews_list %}
    <table class="table">
      <thead>
        <tr>
          <th>Reviewed By</th>
          <th>Rating</th>
          <th>Movie Title</th>
        </tr>
      </thead>
      <tbody>
        {% for review in reviews_list %}
          <tr>
            <td class="reviewer-name">{{ review.user }}</td>
            <td class="rating">{{ review.rating }} stars</td>
            <td><a href="{% url 'review:review-detail' pk=review.id %}" class="movie-title">{{ review.movie.title }}</a></td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3">There are no reviews.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no reviews.</p>
  {% endif %}
</div>
{% endblock %}
