{% extends "base.html" %}
{% block content %}
  <h1>Reviews List</h1>
  {% if reviews_list %}
    <table class="table">
      <thead>
        <tr>
          <th>Movie Title</th>
          <th>Rating</th>
          <th>Reviewed By</th>
        </tr>
      </thead>
      <tbody>
        {% for review in reviews_list %}
          <tr>
            <td><a href="{% url 'review:review-detail' pk=review.id %}">{{ review.movie.title }}</a></td>
            <td>{{ review.rating }} stars</td>
            <td>{{ review.user }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3">There are no reviews.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no reviews.</p>
  {% endif %}
{% endblock %}
