{% extends "base.html" %}

{% block content %}
  <h1>Reviewers List</h1>
  {% if reviewer_list %}
    <table class="table">
      <thead>
        <tr>
          <th>Reviewer</th>
          <th>Favourite Movies</th>          
        </tr>
      </thead>
      <tbody>
        {% for reviewer in reviewer_list %}
          <tr>
            <td><a href="{% url 'review:reviewer-detail' pk=reviewer.pk %}">{{ reviewer.username }}</a></td>
            <td>
              {% if reviewer.favourite_movies.count > 0 %}
                {% for movie in reviewer.favourite_movies.all|slice:":2" %}
                  {{ movie.title }}
                  {% if not forloop.last %}, {% endif %}
                {% endfor %}
                {% if reviewer.favourite_movies.count > 2 %}
                  , ...
                {% endif %}
              {% else %}
                No favourite movies
              {% endif %}
            </td>
            
          </tr>
        {% empty %}
          <tr>
            <td colspan="3">There are no reviewers.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no reviewers.</p>
  {% endif %}
{% endblock %}
